<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona nie znaleziona</title>
    <link rel="icon" href="./img/logo/Titan Method-01.jpg" type="image/png">
    <script src="https://kit.fontawesome.com/ca8673a4ba.js" crossorigin="anonymous"></script>
    <script defer data-domain="titanmethod.pl" src="https://plausible.io/js/script.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/style.css?ver=16.1">
    <style>
        body {
            background-color: #f8f9fa;
            color: #343a40;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .message {
            text-align: center;
        }
        h1 {
            font-size: 4em;
            margin: 0;
        }
        p {
            font-size: 1.2em;
        }
        a {
            color: #007bff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div class="message">
    <h1>404</h1>
    <p>Strona, której szukasz, nie została znaleziona.</p>
    <p><a href="/">Powrót do strony głównej</a></p>
</div>
</body>
</html>
