<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VikingMethod | #1 w polsce.</title>
    <link rel="icon" href="img/logo/Titan%20Method-01.jpg" type="image/png">
    <script src="https://kit.fontawesome.com/ca8673a4ba.js" crossorigin="anonymous"></script>
    <script defer data-domain="titanmethod.pl" src="https://plausible.io/js/script.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css?ver=16.1">
</head>

<body>
    <div id="preloader"><span class="loader"></span></div>
    <div class="subheader">
        <h6>Zni偶ka -70% do 15.06.2024</h6>
    </div>

    <header>
        <h3>Dla ludzi zmagajcych si z kompleksem wzrostu.</h3>
        <h1>Wykorzystaj <span>100%</span> potencjau swojego organizmu. </h1>
        <p> Zdobd藕 wymarzon sylwetke z <span>Titan Method</span> </p>
        <img src="img/Height/Default_one_bamboo_with_cute_panda_on_top_simple_background_no_2_4937fae4-9783-45ae-9f60-64d1cbebba86_0.png"
            alt="">
    </header>

    <setion class="benefits">
        <div class="headline" data-aos="fade-up">
            <h2>Dlaczego My ?</h2>
        </div>
        <div class="container">
            <div class="benefit" data-aos="fade-up">
                <i class="fa-solid fa-book"></i>
                <h2>Dopracowany e-book!</h2>
                <p>Zagb si w wiedz i odkryj niezwyke treci w naszym dopracowanym ebooku. Zawiera on szczeg贸owe
                    analizy, inspirujce przykady i praktyczne wskaz贸wki, kt贸re pomog Ci osign swoje cele.</p>

            </div>
            <div class="benefit" data-aos="fade-up">
                <i class="fa-solid fa-face-laugh-wink star-4"></i>
                <h2 class="h2-second">wietne opinie!</h2>
                <p> Niezliczone pozytywne opinie potwierdzaj, 偶e nasza oferta niezawodnie spenia oczekiwania klient贸w.
                    Docz do grona zadowolonych u偶ytkownik贸w, kt贸rzy zyskali nie tylko wartociow wiedz, ale tak偶e
                    satysfakcj z naszych usug.
                </p>

            </div>
            <div class="benefit" data-aos="fade-up">
                <i class="fa-solid fa-dollar-sign"></i>
                <h2>Niska cena!</h2>
                <p>Oferujemy <span>najlepsz</span> warto w przystpnej cenie. Nie musisz wydawa fortuny, aby
                    skorzysta z naszej
                    <span>wysokiej</span> jakoci treci i usug. Nasza niska cena sprawia, 偶e nasza oferta staje si
                    jeszcze
                    bardziej atrakcyjna dla Ciebie.
                </p>

            </div>
        </div>
    </setion>
    <section class="reviews">
        <div class="headline" data-aos="fade-up">
            <h2>Opinie Titan Method</h2>
            <p><i class="fa-solid fa-star star-2"></i> rednia ocen <span>4.8/5.0</span> na ponad <span>250</span>
                opini! <i class="fa-solid fa-star star-2"></i></p>
        </div>
        <div class="container">
            <div class="review" data-aos="fade-up">
                <div class="person">
                    <h5>AsAsinek2137</h5>
                </div>
                <div class="review-star"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                </div>
                <p>"Mylaem, 偶e wzrost jest losowy i jest zapisany w genach i nic z tym zrobi nie mog, ale teraz
                    widz, 偶e
                    mog nad tym zapanowa! Ten
                    ebook pokaza mi, 偶e mam kontrol nad swoim ciaem i mog je uksztatowa, jak chc. To jest
                    naprawd mocne!"</p>
            </div>
            <div class="review" data-aos="fade-up">
                <div class="person">
                    <h5>witnek</h5>
                </div>
                <div class="review-star"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                </div>
                <p>"Przeczytaem wiele rzeczy na temat wzrostu, ale ten ebook to naprawd game changer! Teraz mam plan
                    dziaania i wiem, jak dba o swoje ciao, 偶eby maksymalnie wykorzysta sw贸j potencja wzrostu."</p>
            </div>
            <div class="review" data-aos="fade-up">
                <div class="person">
                    <h5>Maciuzgaaaaa</h5>
                </div>
                <div class="review-star"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                </div>
                <p>"Kiedy mylaem, 偶e wzrost to tylko kwestia gen贸w, ale ten ebook pokaza mi, 偶e mo偶na nad tym
                    zapanowa! Teraz codziennie czuj, jak moje ciao ronie, a ja rosn w oczach innych."</p>
            </div>
            <div class="review" data-aos="fade-up">
                <div class="person">
                    <h5>GymBR0</h5>
                </div>
                <div class="review-star"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                </div>
                <p>"Nie wierzyem, 偶e co takiego jak hormon wzrostu mo偶na pobudza w naturalny spos贸b, ale ten ebook
                    mnie przekona! Teraz robi wszystko zgodnie z instrukcjami i czekam na efekty. Mam nadziej, 偶e
                    wkr贸tce bd m贸g patrze na innych z g贸ry!"</p>
            </div>
            <div class="review" data-aos="fade-up">
                <div class="person">
                    <h5>Dyluuu</h5>
                </div>
                <div class="review-star"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                </div>
                <p>"Nie sdziem, 偶e mog tak szybko zobaczy wyniki, ale po kilku tygodniach stosowania porad z tego
                    ebooka, widz r贸偶nic! Moja mama nawet musiaa kupi mi nowe spodnie, bo stare byy za kr贸tkie.
                    Polecam!"</p>
            </div>
            <div class="review" data-aos="fade-up">
                <div class="person">
                    <h5>Yasi3k</h5>
                </div>
                <div class="review-star"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                        class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                </div>
                <p>"Ka偶dy chopak marzy o tym, 偶eby by najwy偶szym w grupie, a ten ebook daje mi szans spenienia tego
                    marzenia! Teraz codziennie wykonuj wiczenia i stosuj porady z ksi偶ki, 偶eby zobaczy, jak wysoko
                    mog sign!"</p>
            </div>

        </div>
    </section>
<section class="pricing">
        <div class="headline" data-aos="fade-up">
            <h2>Gotowy wej na wy偶szy poziom?</h2>
            <p data-aos="fade-up"><span><img src="img/graduation-cap-solid.svg" alt=""> 249+ </span> Tyle os贸b nam
                zaufao,
                bdziesz nastpny?
            </p>
        </div>
        <div class="ebooks">
            <div class="e-book" data-aos="fade-up">
                <div class="background-title">
                    <h3 class="title">#1 Standrard </h3>
                </div>
                <h3>wiczenia </h3>
                <h2 class="pricetag2">42.40 z</h2>
                <h2 class="pricetag">24.99 z</h2>
                <p class="info">Cena uwzglgnia podatek*</p>
            <button id="payButton" data-amount="37.99" data-title_service="Premium Basic">Kup teraz</button>
                <h4 class="feature-title">Co posiada E-book</h4>
                <div class="feature"><i class="fa-solid fa-star"></i>
                    <p>Rozpisane wiczenia skupione na pobudzeniu hormonu wzrostu naturalnie</p>
                </div>
                <div class="feature"><i class="fa-solid fa-star"></i>
                    <p>-</p>
                </div>
                <div class="feature"><i class="fa-solid fa-star "></i>
                    <p>-</p>
                </div>
                <h4 class="feature-title">Bonusy</h4>
                <div class="feature"><i class="fa-solid fa-star star-2"></i>
                    <p>Wariant planu treningowego bez sprztu.</p>
                </div>
                <div class="feature"><i class="fa-solid fa-star star-2"></i>
                    <p>-</p>
                </div>
                <div class="feature"><i class="fa-solid fa-star star-2"></i>
                    <p>-</p>
                </div>

            </div>
            <div class="e-book e-book-main" data-aos="fade-up">
                <div class="information-popular">
                    <h4>Najczsciej wybierany</h4>
                </div>
                <div class="background-title">
                    <h3 class="title">#2 Premium </h3>
                </div>
                <h3>wiczenia + Dieta</h3>
                <h2 class="pricetag2">76.00 z</h2>
                <h2 class="pricetag">37.99 z</h2>
                <p class="info">Cena uwzglgnia podatek*</p>
             <button id="payButton" data-amount="37.99" data-title_service="Premium Package">Kup teraz</button>
                <h4 class="feature-title">Co posiada E-book</h4>
                <div class="feature"><i class="fa-solid fa-star"></i>
                    <p>Rozpisane wiczenia skupione na pobudzeniu hormonu wzrostu naturalnie</p>
                </div>
                <div class="feature"><i class="fa-solid fa-star"></i>
                    <p>Dieta, najlepsze posiki oraz produkty spozywcze.</p>
                </div>
                <div class="feature"><i class="fa-solid fa-star "></i>
                    <p>-</p>
                </div>
                <h4 class="feature-title">Bonusy</h4>
                <div class="feature"><i class="fa-solid fa-star star-2"></i>
                    <p>Wariant planu treningowego bez sprztu.</p>
                </div>
                <div class="feature"><i class="fa-solid fa-star star-2"></i>
                    <p>Przykadowa lista zakup贸w.</p>
                </div>
                <div class="feature"><i class="fa-solid fa-star star-2"></i>
                    <p>-</p>
                </div>

            </div>
            <div class="e-book" data-aos="fade-up">
                <div class="background-title">
                    <h3 class="title">#3 Ultimate </h3>
                </div>
                <h3>wiczenia + Dieta + Wskaz贸wki</h3>
                <h2 class="pricetag2">135.99 z</h2>
                <h2 class="pricetag">79.99 z</h2>
                <p class="info">Cena uwzglgnia podatek*</p>
               <button id="payButton" data-amount="79.99" data-title_service="Ultimate Package">Kup teraz</button>
                <h4 class="feature-title">Co posiada E-book</h4>
                <div class="feature"><i class="fa-solid fa-star"></i>
                    <p>Rozpisane wiczenia skupione na pobudzeniu hormonu wzrostu naturalnie</p>
                </div>
                <div class="feature"><i class="fa-solid fa-star"></i>
                    <p>Dieta, najlepsze posiki oraz produkty spozywcze.</p>
                </div>
                <div class="feature"><i class="fa-solid fa-star "></i>
                    <p>Najbardziej optymalny rozkad snu i regeneracji.</p>
                </div>
                <h4 class="feature-title">Bonusy</h4>
                <div class="feature"><i class="fa-solid fa-star star-2"></i>
                    <p>Wariant planu treningowego bez sprztu.</p>
                </div>
                <div class="feature"><i class="fa-solid fa-star star-2"></i>
                    <p>Przykadowa lista zakup贸w.</p>
                </div>
                <div class="feature"><i class="fa-solid fa-star star-2"></i>
                    <p>Opis suplementacji.</p>
                </div>

            </div>
        </div>
    </section>



    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="js/script.js?ver=2.0"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 200,
            startEvent: 'DOMContentLoaded',
        });
    </script>

<script type="module">
        import Notiflix from 'https://cdn.jsdelivr.net/npm/notiflix@3.2.7/+esm'


        const payButtons = document.querySelectorAll('#payButton');

        payButtons.forEach(button => {
            button.addEventListener('click', async e => {
                let response;
                const amount = button.getAttribute('data-amount');
                const title_service = button.getAttribute('data-title_service');

                try {
                        response = await axios.post('http://localhost:3000/api/v1/payment/start', {
                        amount: amount,
                        title_service: title_service
                    });
                } catch (err) {
                    Notiflix.Notify.failure('Nie udao si rozpocz patnoci!', { showOnlyTheLastOne: true });
                    return;
                }

                if (!response.data.success) {
                    Notiflix.Notify.failure('Nie udao si rozpocz patnoci!', { showOnlyTheLastOne: true });
                }
            })
        })

    </script>

</body>

</html>
